<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="../assets/images/icon1.png">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Email successfully sent!</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <div class="alert alert-success" role="alert"><strong>Your email has been sent successfully!</strong></div>
        <p><a class="btn btn-lg btn-success" href="../index.html" role="button">Back</a></p>
      </div>
    </div>
  </body>
</html>
